.formularz {
  max-width: 400px;
  background-color: #c01e14;
  padding: 25px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin: 20px auto;
}

input {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 10px;
  box-sizing: border-box;

}

.prefix {
  width: 20%;
}

.prefix input {
  width: 100%;
  opacity: 0.8;
}

.tel {
  width: 75%;
}

.tel input {
  width: 100%;
}

.tel_container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

#country {
  width: 100%;
  padding: 10px 20px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 80px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #c01e14;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0px 15px 5px -4px rgba(102, 24, 24, 0.75);

}

button:hover {
  cursor: pointer;
  background-color: #77DD77;
  color: white;

}

@media(max-width:1366px) {
  .formularz {
    max-width: 400px;
    background-color: #c01e14;
    padding: 25px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    margin: 6px auto;
  }

}